@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;600&display=swap'); // asap 400, 500, 600
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&display=swap'); // caveat 400, 500
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap'); // poppins 200, 300, 400, 500, 600

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 14px;
}
